<!-- BEGIN BETA CAVEATS! -->
<noscript>
<div id="javascript-warning">
  <p>
    <%= tr("While we've done our best to make this site accessible without javascript, it will work better and look prettier with it enabled. Please consider turning it on!") %>
  </p>
</div> 
</noscript>
<!-- END BETA CAVEATS! --> 

<% unless logged_in? || logged_in_as_admin? %>
  <div id="home-signin">
    <%= render :partial => 'user_sessions/login' %>
  </div>
<% end %>

<div id="home-header">
  <div id="login-block">
    <% if logged_in? || logged_in_as_admin? %>
      <%= render :partial => 'user_sessions/greeting' %>
    <% end %>
    <%= render :partial => 'works/search_box' %>
    <%= tr8n_language_selector_tag %>
  </div>

  <%= image_tag('logo.png', :alt => ArchiveConfig.APP_NAME + ' logo', :class => 'logo', :height=> '70', :width => '105') %>
  
  <div class="titles">
    <h1><%= ArchiveConfig.APP_NAME %></h1>
    <h2><%= tr("A project of the") %> <%= link_to("Organization for Transformative Works", "http://transformativeworks.org") %></h2>
  </div>

  <ul class="navigation">
    <li><%= link_to_unless_current tr("fandoms"), media_path %></li>
    <li><%= link_to_unless_current tr("works"), works_path %></li>
    <li><%= link_to_unless_current tr("people"), people_path %></li>
    <li><%= link_to_unless_current tr("bookmarks"), bookmarks_path %></li>
    <li><%= link_to_unless_current tr("tags"), tags_path %></li>
    <li><%= link_to_unless_current tr("collections"), collections_path %></li>
  </ul>
  <div class="clear"></div>
</div>
<div class="bigwrapper">
  <%= flash_div :error, :warning, :notice %>
  <div class="open-beta-box">
    <% if logged_in? %>
      <h2><%= tr('Welcome to open beta!') %></h2>
      <h1><%= link_to tr('INVITE A FRIEND'), user_invitations_path(current_user) %></h1> 
    <% else %>
      <% if @admin_settings.account_creation_enabled? %>
        <h2><%= link_to tr('Log in'), login_path %> or <%= link_to tr("Create an Account"), new_user_path %> </h2>
      <% elsif @admin_settings.invite_from_queue_enabled? %>
        <h2>Be part of our open beta!</h2>
        <h1><%= link_to tr('SIGN UP NOW'), invite_requests_path %></h1>
      <% else %>
        <h2><%= link_to tr('Log in'), login_path %></h2>
      <% end %>
    <% end %>
    <p><%= tr('The Archive of Our Own is a fan-created, fan-run, non-profit, non-commercial archive for transformative fanworks,  such as fanfiction and fanart.') %></p>
  </div>
  
  <div class="sidebar">
    <div class="sidebar-box">
      <h3>Explore</h3>
      <ul class="meters">
        <li>
	  <span><%= link_to tr('fandoms'), media_path %></span>: 
	  <span><%= @fandom_count %></span><%= ' ' + tr(" to date") %>
	</li>
	<li>
	  <span><%= link_to tr('works'), works_path %></span>: 
	  <span><%= @work_count %></span><%= ' ' + tr(" to date") %>
	</li>
        <li>
          <span><%= link_to tr('people'), people_path %></span>: 
          <span><%= @user_count %></span><%= ' ' + tr(" to date") %>
        </li>
      </ul>    
    </div>
    <% if @admin_post %>
      <div class="sidebar-box">
        <h3>News</h3>
        <p><%= link_to @admin_post.title, @admin_post %></p>
        <% if @admin_post_show_more %>
          <p><%= link_to h(tr('More news')) + '&#8230;'.html_safe, admin_posts_path %></p>
        <% end %>
      </div>
    <% end %>
    <div class="sidebar-box">
      <h3>About</h3>
      <p>
        <%= tr('If you have questions or want to know more about the Archive check out the ') %>
        <%= link_to 'Archive FAQ', archive_faqs_path %>.
      </p>    
    </div>    
  </div>
</div>
